<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Blog APP</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/posts">Home</a></li>
            <li><a href="/addPost">Add Post</a></li>
            <% if (userData.role == "Admin") { %>
              <li><a href="/allusers">Admin</a></li>
            <%}%>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <% if (userData.role == "Admin") {%>
        <center>
          <h1>Hi <%=userData.name%> You are the Admin</h1>
        </center>
      <%} else {%>
        <center>
          <h1>Hi <%=userData.name%></h1>
        </center>
        <%}%>
      <div class="offset-md-5 col-md-5">
        <%for(i=0; i<postData.length; i++) {%>
          <div class="row">
            <div class="col-md-6">
              <h1><b>Title:</b><%=postData[i].title%></h1>
              <p><b>Description:</b> <%=postData[i].description%></p>
              <p><b>Created By:</b><%=postData[i].name%></p>
            </div>
            <div class="col-md-6">
              <% if (postData[i].name == userData.name || userData.role == "Admin") {%>
                <a href="/edit/<%=postData[i]._id%>">
                  <span class="glyphicon glyphicon-edit"></span> Edit</a>
                <a href="/deletePost/<%=postData[i]._id%>">
                  <span class="glyphicon glyphicon-trash"></span> Delete</a>
                <%}%>
              </div>
            </div>
            <%}%>
       </div>
      </div>
  </div>
</body>
</html>